.sidebar {
    background-color: #C2D9FF;
    height: 100vh;
    padding: 1rem;
    max-width: 15vw;

    .list-item {
        margin: 3rem 0;
        list-style: none;
        padding-left: 3rem;
    }
}